/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
    background-color: #0D0B1E;
    width: 100%;
    opacity: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.captionLink {
  font-family: 'Pinyon Script', cursive;
  color: white;  
}

.navbar-brand {
  padding-left: 30px;
}

.div.carousel-caption {
  color: black;
}

.notHappy {
  font-size: 18px;
  font-weight: normal;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

#welcome {
  margin-top: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Pinyon Script', cursive;
}

#footer {
  color: #FF222E;
}

.footerText {
  vertical-align: bottom;
}

.socialMedia {
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

    @media (min-width: 425px) and (max-width: 499px) {
  #myCarousel {
    height: 300px;
  }

  .carousel {
    height: 300px;
  }

  .carousel .item {
    height: 300px;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
    #myCarousel {
    height: 350px;
  }

  .carousel {
    height: 350px;
  }

  .carousel .item {
    height: 350px;
  }

  .notHappy {
  font-size: 24px;
  font-weight: normal;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
    #myCarousel {
    height: 400px;
  }

  .carousel {
    height: 400px;
  }

  .carousel .item {
    height: 400px;
  }

  .notHappy {
  font-size: 29px;
  font-weight: normal;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  #myCarousel {
    height: 450px;
  }

  .carousel {
    height: 450px;
    padding-top: 0px;
  }

  .carousel .item {
    height: 450px;
  }

  .notHappy {
  font-size: 30px;
  font-weight: normal;
  }
}

@media (min-width: 800px) and (max-width: 929px) {
  #myCarousel {
    height: 500px;
  }

  .carousel {
    height: 500px;
    padding-top: 0px;
  }

  .carousel .item {
    height: 500px;
  }

  .notHappy {
  font-size: 30px;
  font-weight: normal;
  }
}

@media (min-width: 930px) and (max-width: 940px) {
  #myCarousel {
    height: 550px;
  }

  .carousel {
    height: 550px;
    padding-top: 0px;
  }

  .carousel .item {
    height: 550px;
  }

  .notHappy {
  font-size: 35px;
  font-weight: normal;
  }

  #welcome {
    margin-top: 100px;
  }
}

@media (min-width: 941px) {
  #myCarousel {
    height: 700px;
  }

  .carousel {
    height: 700px;
    padding-top: 0px;
  }

  .carousel .item {
    height: 700px;
  }

  .notHappy {
  font-size: 40px;
  font-weight: normal;
  }

  #welcome {
    margin-top: 100px;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */

  body {
    background: #F1F1F1;
  }

  /*.navbar-wrapper {
    margin-top: 20px;
  */}
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-inverse {
    opacity: 0.8;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}